.coucou {
    position: absolute;
    top: 0px;
    padding: 0 10px;
    font-size: 18px;
    z-index: 0;
    transition: transform 0.2s;
    color: #999;
}

.coucou2 {
    color: black;
    font-size: 14px;
    background-color: white;
    transform: translate(px, 0px);
}